@model IEnumerable<InanceModels.Models.Master>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p>
    <a asp-area="Admin" asp-controller="Master" asp-action="Create" class="btn btn-primary  btn-icon-split" style="margin:20px 20px 20px 0">
        <span class="icon text-white-50">
            <i class="fas fa-arrow-right"></i>
        </span>
        <span class="text">Yeni Service əlavə edin</span>
    </a>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Service Table</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Phone Number</th>
                            <th>Experience Year</th>
                            <th>Is Active</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                           
                            <th>Phone Number</th>
                            <th>Experience Year</th>
                            <th>Is Active</th>
                            
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Username</td>
                                
                                <td>@item.PhoneNumber</td>
                                <td>@item.ExperienceYear</td>
                                <td>@item.IsActive</td>
                                <td style="justify-content:space-between">
                                    <a asp-area="Admin" asp-controller="Master" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-circle">
                                        <i class="fas fa-edit"></i>

                                    </a>
                                    <a asp-area="Admin" asp-controller="Master" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-circle">
                                        <i class="fas fa-trash"></i>
                                    </a>

                                
                            </tr>
                        }
                       
                       
                    </tbody>
                </table>


            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
            </div>
<!-- End of Main Content -->
